/*print styling*/
@media print {
  nav {
    display: none;
  }
}

/* default styling */
#write-new-tweet a {
  color: #ffffff;
  text-decoration: none;
}

#write-new-tweet a:visited {
  color: #ffffff;
}

#nav-logo {
  font-family: "Bungee", cursive;
  display: flex;
  align-items: center;
}

#nav-logo img {
  margin-left: 15px;
}

nav  {
  min-width: 210px; /* for very small devices */
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

#nav-logo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* phone screens */
@media screen and (min-width: 375px) {
  nav {
    height: 100px;
    padding: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
    z-index: 1;
  }

  #write-new-tweet {
    font-size: 15px;
  }
}
/* tablet screens */
@media screen and (min-width: 768px) {
  #write-new-tweet {
    font-size: 20px;
  }
}
/* desktop screens */
@media screen and (min-width: 1024px) {
  #write-new-tweet {
    font-size: 24px;
  }
}