nav {
  height: 100px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#nav-logo {
  font-family: 'Bungee', cursive;

  display: flex;
  align-items: center;
}

#nav-logo img {
  margin-left: 15px;
}