#top-button {
  position: fixed;
  border: 0;
  background-color: #4056a1;
  color: white;
  border-radius: 10px;
 
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms linear, visibility 250ms linear;
}

/**/
@media print {
  display: none;
}

/* phone screens */
@media screen and (min-width: 375px) {
  #top-button {
    bottom: 0;
    right: 0;
    padding: 10px 5px;
  }
}
/* tablet screens */
@media screen and (min-width: 768px) {
  #top-button {
    padding: 10px;
  }
}
/* desktop screens */
@media screen and (min-width: 1024px) {
  #top-button {
    bottom: 25px;
    right: 5px;
  }
}
