/* default styling */
.tweet {
  width: 90%;
  box-sizing: border-box;
  border: 2px #000000 solid;
  margin-bottom: 10px;
  padding: 5px;
}

.tweet header {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

.tweet header div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tweet-content {
  overflow-wrap: break-word;
}

.tweet-name {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

.tweet-username {
  color: #adadad;
}

.tweet footer {
  border-top: 2px #000000 solid;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}

.tweet:hover {
  box-shadow: 5px 5px #6abfce;
}

.tweet:hover .tweet-content {
  font-weight: bold;
}

.tweet:hover .tweet-username {
  visibility: visible;
}

.tweet-buttons {
  color: #6abfce;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
}

.tweet-button:hover {
  color: #ffffff;
  background-color: #adadad;
  border-radius: 100%;
}

.tweeted-how-many-days-ago {
  font-size: 14px;
}

/**/
@media print {
}

/* phone screens */
@media screen and (min-width: 375px) {
  .tweet header,
  .tweet header div {
    flex-direction: row;
    align-items: center;
  }

  .tweet header,
  .tweet header div {
    height: 80px;
  }
  .tweet header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .tweet-content {
    font-size: 20px;
  }

  .tweeted-how-many-days-ago {
    font-size: 17px;
  }
}
/* tablet screens */
@media screen and (min-width: 768px) {
  .tweet-buttons {
    font-size: 40px;
  }
  .tweeted-how-many-days-ago {
    font-size: 25px;
  }

  .tweet-content {
    font-size: 30px;
  }
}
/* desktop screens */
@media screen and (min-width: 1024px) {
}
