#tweets {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: auto; */
}

.tweet {
  /* height: 100px; */
  width: 100%;
  box-sizing: border-box;
  border: 2px #000000 solid;
  margin-bottom: 10px;
  padding: 20px;
}

.tweet header, .tweet header div {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.tweet header img {
  background-color: grey;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.tweet-name {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.tweet-username {
  color: #adadad;
  visibility: hidden;
}

.tweet-content {
  padding: 10px;
}

.tweet footer {
  border-top: 2px #000000 solid;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}


.tweet:hover .tweet-content{
  font-weight: bold;
}

.tweet:hover .tweet-username{
  visibility: visible;
}